.dashboard {
    &__container {
        width: 100%;
        max-width: 100%;
        @include media-query(lap-and-up) {
            max-width: 500px;
        }
    }
    &__card {
        overflow: hidden;
    }
    &__header {
        position: relative;
        background-color: $color-green-light;
        min-height: 100px;
    }
    &__subheader {
        position: absolute;
        height: 48%;
        width: 100%;
        bottom: 0;
        background-color: $color-green;
    }
    &__featured {
        position: absolute;
        top: 0;
        left: 2%;
        color: $color-text-inverse;
        & .stats__description {
            margin-top: -.4em;
            color: $color-text-incrust;
        }
    }
    &__content {
        padding: 2rem;
    }
    &__date {
        color: $color-grey;
    }
    &__place {
        font-size: 1.6em;
        margin-bottom: 1rem;
        color: $color-grey-dark;
    }
    &__label {
        color: $color-grey;
        margin-bottom: .4rem;
    }
    &__stat-main {
        background-color: $color-dim;
        color: $color-grey-dark;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-radius: 4px;
        & .stats__label {
            color: $color-grey;
        }
    }
    &__stat-focus {
        background-color: $color-green;
        text-align: center;
        padding: 1rem;
        display: inline-block;
        color: $color-text-inverse;
        font-weight: 700;
        font-size: 1.2em;
        border-radius: 4px;
    }
}
