.stats {
    text-align: center;
    color: $color-grey-dark;
    font-weight: 700;
    &__label {
    }
    &__value {
        font-size: 1.8em;
        line-height: 1.6em;
    }
    &__description {
        font-size: .9em;
    }
}

.stats-donut {
    &__title {
        text-align: center;
        color: $color-grey-dark;
        text-transform: uppercase;
        margin-top: 1rem !important;
    }
    &__caption-container {
        padding-bottom: 0 !important;
    }
    &__caption {
        border-top: 3px solid;
        padding-top: 1rem;
        padding-bottom: 1rem;
        transition: background-color .4s ease-in-out;
        &.active--1 {
            background-color: lighten($color-green, 30%);
        }
        &.active--2 {
            background-color: lighten($color-red, 30%);
        }
        &.active--3 {
            background-color: lighten($color-yellow, 20%);
        }
    }
}

/* >>> britechart overrides */

.line-container {
    text-align: center;
}

svg.britechart {
    & .x-axis-group,
    & .y-axis-group {
        display: none;
    }
}

svg.britechart.line-chart {
    filter: drop-shadow(1px 1px 3px $color-grey-dark);
    & .line {
        fill: transparent;
        stroke-width: 4px;
        // box-shadow: 2px solid;
    }
}

/* <<< britechart overrides */
